* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.top-banner {
    background: #e74c3c;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
}

.top-banner a {
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: underline;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu a.active,
.menu a:hover {
    color: #e74c3c;
}


/* Search Box */
.search-box {
    position: relative;
}

.search-box input {
    padding: 6px 30px 6px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

/* Icons (right section) */
.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #e74c3c;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.shop-btn {
    background-color: white;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #bfbfbf;
}

.shop-btn:hover {
    color: #e74c3c;
}

.logout-btn {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sub-main {
    width: 100%;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 60px;
    margin-bottom: 150px;
    display: flex;
    gap: 20px;
}

.left-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    width: 50%;
}

.story {
    width: 525px;
}

.story h1 {
    font-weight: 500;
    line-height: 2;
}

.story p {
    line-height: 2;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    background-color: #e74c3c;
}

.sub-footer {
    width: 85%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding-top: 50px;
}

.sub-footer .detail {
    width: 156px;
}

.sub-footer .detail input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #e74c3c;
    color: #fff;
}

.sub-footer .detail h4 {
    color: #fff;
    font-weight: 500;
}

.sub-footer .detail p {
    color: #fff;
    line-height: 3;
}

.sub-footer .detail ul li {
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    line-height: 3;
}

.exclusive {
    font-size: 14px;
}

.subscribe {
    font-size: 15px;
}